@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

$white: #fff;
$lightergray: #c8d0e7;
$lightgray: #c8d0e7;
$gray: #728094;
$darkgray: #505a69;
$primary: #6d5dfc;
$darkprimary: #595192;
$secondary: #38a1ff;

.App {
  background: #e4ebf5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3rem 0;
  font-family: 'Poppins', sans-serif;

  h1 {
    background: -webkit-linear-gradient($primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    margin: 1rem 0 2rem;
  }

  h1,
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
  }

  h2 {
    background: -webkit-linear-gradient($primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    text-align: center;
    color: $darkgray;
    line-height: 1.7;
  }

  .end-balance {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $darkgray;
    margin-bottom: 0;
  }

  .result {
    background: -webkit-linear-gradient($primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
  }

  .small-result {
    background: -webkit-linear-gradient($primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
  }

  .box {
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem $lightgray, -0.2rem -0.2rem 1.8rem $white;
    padding: 2rem 3rem;
    margin: 2rem 0 3rem;
  }

  label {
    color: $darkprimary;
    width: 100%;
    text-transform: uppercase;
    font-weight: 300;
  }

  .input-group {
    background: none;
    border-radius: 1rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem $lightgray,
      inset -0.2rem -0.2rem 0.5rem $white;
    color: $darkgray;
    margin: 0.5rem 0 1rem;
    line-height: 1.7;

    .form-control {
      background: none;
      border: none;

      &:focus {
        border-radius: 1rem;
      }
    }

    .input-group-text {
      background: none;
      border: none;
      border-radius: 1rem;
      color: $gray;
    }
  }

  .table-container {
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem $lightgray, -0.2rem -0.2rem 1.8rem $white;
    padding: 2rem 3rem;
    margin: 2rem 0;

    table {
      color: $darkgray;
      thead {
        tr {
          vertical-align: middle;
          text-transform: uppercase;
        }
      }
      th,
      td {
        text-align: center;
      }
      tr {
        td {
          white-space: nowrap;
        }
      }
    }
  }
}
